.range {
  // margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  &__selectors {
    display: flex;
    align-items: center;
    gap: 1rem;

    & > select {
      min-width: 3rem;
      padding: 0.2rem 0.8rem;
      border-radius: var(--border-radius);
      background-color: var(--color-white);
      color: var(--color-black);
      border-color: var(--color-gray-dark);
      font-family: inherit;
    }
  }

  &:not(:first-child) {
    margin-top: 0.9rem;
  }
}

.volume {
  /* ADD HOVER POINTER etc */
  height: 1.9rem;
  width: 1.9rem;
}

.buttons {
  width: 15rem;

  & button {
    width: 100%;
    padding: 0.3rem;
    border-radius: var(--border-radius);
    border-width: 1px;
    font-size: 1rem;
    font-family: inherit;
    background-color: var(--color-gray-light);
    color: var(--color-black);
  }

  .next {
    padding: 2rem;
  }

  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    :not(:first-child) {
      width: calc(100% - 3.5rem);
      margin-top: 0.8rem;
    }
  }
}

.chords {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.2rem;
    color: var(--color-gray-dark);
  }
}

.github {
  margin: 0;
  padding: 0;
  // background-color: orangered;
  transform: scale(44%) translateY(-85%);
  // transform: scale(40%);
  // height: 4rem;
  // width: 4rem;
}
