.container {
  position: relative;
  // background-color: green;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.5rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
