.comment {
  margin-top: -0.5rem;

  color: var(--color-gray-light);
  text-align: justify;
  font-size: 0.8rem;

  &:not(:first-of-type) {
    margin-top: 0.5rem;
  }

  @media (orientation: landscape) {
    margin-top: 0;
    margin-right: 2rem;
  }
}
