.icon {
  position: relative;

  border-radius: var(--border-radius);
  height: 2.4rem;
  width: 2.4rem;
  padding: 0.2rem;
  cursor: pointer;
  transition: var(--transition);

  &:focus,
  &:hover {
    outline: var(--color-focus-outline);
  }

  &:hover &__tooltip {
    visibility: visible;
  }

  .tooltip {
    position: absolute;
    font-size: 0.9rem;
    top: -2.5rem;
    width: 6rem;
    text-align: center;
    right: 1rem;
    padding: 0.5rem;
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-gray-dark);
    border-radius: var(--border-radius);
    display: none;
  }
}
