$size: 2.4rem;

.icon {
  width: $size;
  height: $size;
  padding: 0.3rem;
  border-radius: var(--border-radius);

  // &:focus,
  // &:hover,
  // &:focus-visible {
  //   outline: var(--color-focus-outline);
  //   // outline: none;
  // }
}
