.navigation {
  padding: 1rem;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }

  a {
    color: inherit;
    display: inline-block;
    border-radius: var(--border-radius);

    &:focus,
    &:hover,
    &:focus-visible {
      outline: var(--color-focus-outline);
    }
  }
}
