.navigation {
  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;

    li {
      $size: 2.4rem;
      // padding: 0.2rem;
      width: $size;
      height: $size;

      a {
        color: inherit;
        display: block;
        // height: 100%;

        border-radius: var(--border-radius);

        &:focus {
          outline: none;
          // outline: var(--outline-focus);
          border-radius: 0;
          border-bottom: 2px solid var(--color-link);
        }

        &:hover {
          color: var(--color-link);
          // border: var(--border-hover);
        }

        svg {
          padding: 0.2rem;
        }
      }
    }
  }
}
