.secret {
  height: 100%;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  p {
    align-self: center;
    &:last-of-type {
      margin-top: auto;
      align-self: self-start;
      opacity: 0.5;
    }
  }
}
