.info {
  & > div {
    line-height: 1.6;
    font-size: 1rem;

    & + div {
      // using '+' selector to ignore first one
      margin-top: 1.4rem;
    }
  }

  .icon {
    &__header {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      padding: 0;
      margin-right: 0.6rem;
      transform: translateY(0.3rem);
    }

    &__text {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin: 0 0.4rem;
      transform: translateY(0.15rem);
    }

    &__share {
      margin: -1rem 0.4rem;
      display: inline-block;
      width: 1rem;
      transform: translateY(0.2rem);
    }
  }

  code {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    letter-spacing: 0.05rem;
  }

  a {
    color: var(--color-link);

    &:hover,
    &:focus {
      border-bottom: 1px solid var(--color-link);
      outline: none;
    }
  }
}
