.info {
  p {
    line-height: 1.6;
    font-size: 1rem;

    & + p {
      margin-top: 1rem;
    }
  }

  span {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    letter-spacing: 0.132rem;
  }

  a {
    color: var(--color-link);

    &:hover,
    &:focus {
      text-decoration: underline;
      outline: none;
    }
  }
}
