.info {
  & > div {
    line-height: 1.6;
    font-size: 1rem;

    & + div { // to ignore first one
    // & > div {
      margin-top: 1.4rem;
    }
  }

  code {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    letter-spacing: 0.05rem;
  }

  a {
    color: var(--color-link);

    &:hover,
    &:focus {
      text-decoration: underline;
      outline: none;
    }
  }
}
