.metronome {
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (pointer: coarse) and (orientation: landscape) {
    flex-direction: row;
  }

  .top {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;

    .tempo {
      margin: auto;
      width: 14rem;
      text-align: center;
      user-select: none;
      -webkit-user-select: none;
      font-size: 6rem;
      padding: 1rem;
      border-radius: var(--border-radius);

      &:focus,
      &:hover {
        outline: var(--outline-focus);
      }

      &__play {
        &:focus,
        &:hover {
          box-shadow: var(--box-shadow-metronome);
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    @media (pointer: coarse) and (orientation: landscape) {
      flex-direction: row-reverse;
      flex-direction: column-reverse;
    }

    .text {
      p {
        text-align: center;
        margin-bottom: 0.5rem;
      }

      code {
        font-size: 1rem;
        text-transform: lowercase;
      }
    }

    .grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: var(--gap-small);

      .start {
        grid-column: 2 / 4;
      }

      @media (pointer: coarse) and (orientation: landscape) {
        width: 100%;
        max-height: 16rem;
        gap: var(--gap-medium) var(--gap-small);

        grid-template-columns: repeat(3, 1fr);
        margin-right: 2.5rem;

        .light {
          grid-row: 1;
          grid-column: 1;
        }

        .mute {
          grid-row: 2;
          grid-column: 1;
        }

        .start {
          grid-row: 3;
          grid-column: 1 / 4;
        }
      }
    }
  }
}
