.metronome {
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (pointer: coarse) and (orientation: landscape) {
    flex-direction: row;
  }

  .top {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;

    .tempo {
      margin: auto;
      width: 14rem;
      text-align: center;
      user-select: none;
      font-size: 6rem;
      padding: 1rem;
      border-radius: var(--border-radius);

      &:focus,
      &:hover {
        outline: var(--outline-focus);
      }

      &__play {
        &:focus,
        &:hover {
          box-shadow: var(--box-shadow-metronome);
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;

    @media (pointer: coarse) and (orientation: landscape) {
      height: 100%;
      flex-direction: row-reverse;
      flex-direction: column-reverse;
    }

    .range {
      input[type='range'] {
        width: 100%;
        appearance: none;
        background-color: var(--color-gray);
        border-radius: 2rem;
        height: 0.7rem;
        margin-bottom: 2.5rem;

        @media (pointer: coarse) and (orientation: landscape) {
          margin-top: 2rem;
          margin-bottom: 0;
        }

        &::-webkit-slider-thumb {
          appearance: none;
          width: 2rem;
          height: 2rem;
          background-color: var(--color-black);
          border: 2px solid var(--color-gray-light);
          border-radius: 50%;
        }
      }
    }

    .icon {
      align-self: center;
      justify-self: center;
      border-radius: var(--border-radius);
      height: 2.4rem;
      width: 2.4rem;
      cursor: pointer;

      &:focus,
      &:hover {
        outline: var(--outline-focus);
      }
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: var(--grid-gap);

      .text {
        grid-column: 1 / 5;

        p {
          text-align: center;
          margin-bottom: 0.5rem;
        }

        code {
          font-size: 1rem;
          text-transform: lowercase;
        }
      }

      .start {
        grid-column: 2 / 4;
      }

      @media (pointer: coarse) and (orientation: portrait) {
        height: 20dvh;
        max-height: 11rem;
      }

      @media (pointer: coarse) and (orientation: landscape) {
        height: 100%;
        width: 100%;
        max-height: 16rem;

        grid-template-columns: repeat(3, 1fr);
        margin-right: 2.5rem;

        .light {
          grid-row: 1;
          grid-column: 1;
        }

        .mute {
          grid-row: 2;
          grid-column: 1;
        }

        .minusfive {
          grid-row: 1;
          grid-column: 2;
        }

        .plusfive {
          grid-row: 1;
          grid-column: 3;
        }

        .minusone {
          grid-row: 2;
          grid-column: 2;
        }

        .plusone {
          grid-row: 2;
          grid-column: 3;
        }

        .start {
          grid-row: 3;
          grid-column: 1 / 4;
        }
      }
    }
  }
}
