.notes {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (pointer: coarse) and (orientation: landscape) {
    flex-direction: row;
  }

  &__chord {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  &__select {
    display: flex;
    align-items: center;
    gap: var(--gap-small);

    @media (pointer: coarse) and (orientation: landscape) {
      align-items: end; // g-clef in landscape
      margin-top: auto;
      flex-direction: column-reverse;
      gap: var(--gap-medium);

      & > select {
        align-self: stretch;
      }
    }
  }
}
