.notes {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (pointer: coarse) and (orientation: landscape) {
    flex-direction: row;
  }

  &__chord {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  &__select {
    display: flex;
    align-items: end; // g-clef in landscape
    gap: var(--gap-small);

    & > select {
      padding: var(--button-padding);
      align-self: stretch;
    }

    @media (pointer: coarse) and (orientation: landscape) {
      margin-top: auto;
      flex-direction: column-reverse;
      gap: var(--gap-medium);
    }
  }
}
