.notes {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;

  .notation {
    margin: auto;
  }

  .chord {
    margin-bottom: 1.5rem;
  }

  .select {
    display: flex;
    justify-content: center;
    gap: 1rem;

    & > select {
      font-size: 1rem;
    }
  }
}
