.reset {
  margin: auto 0 2.5rem auto;
}

.settings {
  margin-top: auto;
  display: flex;
  flex-direction: column;

  h3 {
    align-self: stretch;
    display: flex;
    justify-content: start;
    letter-spacing: 0.1rem;
    font-weight: normal;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 0.8rem;

    border-bottom: 2px solid var(--color-gray-light);
  }

  & > div {
    align-self: end;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
