.chord {
  display: flex;
  align-items: start;
  font-family: Arial;

  &__base {
    font-size: 3em;
  }
  &__flat {
    margin-left: -0.25em;
    margin-right: -0.2em;
    font-size: 2.3em;
  }
  &__sharp {
    font-size: 2.5em;
    margin-right: 0.05em;
    transform: translateY(0.09em);
  }
  &__minor {
    font-size: 2.2em;
    transform: translateY(0.33em);
  }
  &__dim {
    font-size: 1.7em;
    margin-right: 0.1em;
    transform: translateY(-0.2em);
  }
  &__seventh {
    font-size: 1.5em;
    margin-right: 0.05em;
  }
  &__sixnine {
    display: flex;
    align-items: center;
    font-size: 2.4em;
    font-weight: lighter;
    transform: translateY(0.1em);

    &::before {
      content: '6';
      font-size: 0.7em;
      transform: translateY(-0.35em);
      margin-right: -0.1em;
    }
    &::after {
      content: '9';
      font-size: 0.7em;
      transform: translateY(0.35em);
      margin-left: -0.1em;
    }
  }
  &__brackets {
    display: flex;
    align-items: end;

    &--double {
      transform: translateY(-0.3em);
    }

    & .flat {
      display: inline-block;
      margin-right: -0.2em;
      margin-left: -0.3em;
      margin-top: -1em;
      margin-bottom: -1em;
      transform: translateY(-0.08em);
      font-size: 0.77em;
    }
    & .sharp {
      display: inline-block;
      font-size: 0.8em;
      margin-right: 0.02em;
      margin-left: -0.04em;
      transform: translateY(-0.1em);
    }
  }
  &__inside-brackets {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;

    &__small {
      font-size: 1.2em;
    }
  }
  &__alt {
    align-self: end;
    transform: translateY(-0.25em);
    font-size: 1.5em;
    margin-left: -0.15em;
  }
}
