.github {
  // background-color: red;
  // this is the <a> tag
  position: absolute;
  left: 2rem;
  top: 2rem;
  width: 2rem;
  height: 2rem;
  background-image: var(--github-image);
  background-size: contain;

  &:focus,
  &:hover {
    box-shadow: none;
    filter: brightness(70%);
  }
}
