$size: 2.4rem;
$side: 0rem;
$top: 1rem;
// $focusFilter: contrast(50%);
$focusFilter: 'none';

.github {
  position: absolute;
  left: $side;
  top: $top;
  width: $size;
  height: $size;
  background-image: var(--github-image);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  transition: var(--transition);
  border-radius: 50%;

  &:focus,
  &:hover {
    outline: var(--color-focus-outline);
  }
}

.lightdark {
  position: absolute;
  right: $side;
  top: $top;
  width: $size;
  height: $size;
  transition: var(--transition);
  border-radius: 50%;

  &:focus,
  &:hover {
    outline: var(--color-focus-outline);
  }
}
