$size: 2.4rem;
$side: 0rem;
$top: 1rem;
// $focusFilter: contrast(50%);
$focusFilter: 'none';

.github {
  position: absolute;
  left: $side;
  top: $top;
  width: $size;
  height: $size;
  background-image: url('./img/github-mark-white.png');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  transition: var(--transition);
  border-radius: 50%;

  // to make hovering look nicer
  box-sizing: content-box;
  border: 2px solid var(--color-white);

  &:focus,
  &:hover {
    outline: var(--color-focus-outline);
  }
}

.lightdark {
  position: absolute;
  right: $side;
  top: $top;
  width: $size;
  height: $size;
  transition: var(--transition), 2s transform;
  transform: rotate(-20deg);
  // filter: var(--icon-filter);
  border-radius: 50%;
  cursor: pointer;

  // to make hovering look nicer
  box-sizing: content-box;
  border: 2px solid var(--color-white);

  &:focus,
  &:hover {
    outline: var(--color-focus-outline);
    transform: rotate(-160deg);
  }
}
