:root {
  --border-radius: 0.3rem;
  --transition: 0.5s all;

  --color-black: #101418;
  --color-gray: #444;
  --color-gray-light: #bbb;
  --color-white: #fafafa;

  --color-link: #4ad;
  // body: link color darkened & desaturated (https://mdigi.tools)
  --color-body: #294552;
  --color-body: #304c5a;
  --color-body: #0e374c;
  --color-body: #eee;
  --color-body: #2f3737;
  --color-body: #351056;
  --color-body: #3f515a;
  --color-body: #2d3539;
  --color-body: #394951;
  --color-body: #30424b;
  --color-body: #105653;
  --color-body: #1e323c;
  
  --box-shadow-container: 0 0 20rem rgba(0, 0, 0, 0.5);
  --box-shadow-container: 0 0 20rem rgba(255, 255, 255, .8);
  --box-shadow-metronome: inset 0 0 1rem rgba(255, 255, 255, .3);
  
  --border-container: none;

  --outline-focus: solid 0.15rem var(--color-link);
  @media (pointer: coarse) {
    // no focus outline on mobile devices
    --outline-focus: none;
  }
}

/* reset */
* {
  margin: 0;
  padding: 0;
  appearance: none;
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-black);
  @media (pointer: fine) {
    // container card styling only on desktop (not mobile)
    background-color: var(--color-body);
  }

  min-height: 80vh; // fallback for older browsers
  min-height: 100dvh;

  font-family: sans-serif;
  color: var(--color-white);
  letter-spacing: 0.02rem;
}

.container {
  height: 100dvh;
  width: 100vw;
  // position: relative;
  display: flex;
  flex-direction: column;

  @media (pointer: fine) {
    // container card styling only on desktop (not mobile)
    max-height: 40rem;
    max-width: 30rem;
    background-color: var(--color-black);
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: var(--box-shadow-container);
    border: var(--border-container);
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  overflow: auto;
}

footer {
  flex: 0;
  padding: 1.5rem 1rem 2rem 1rem;
  background-color: var(--color-gray);
  border-top: 1px solid var(--color-gray-light);
}

h2 {
  font-weight: normal;
  font-size: 1.2rem;
  padding-bottom: 0.1rem;
  color: var(--color-gray-light);
  border-bottom: 1px solid currentColor;
  margin-bottom: 2.2rem;
  display: flex;
  justify-content: end;
}

.button {
  background-color: var(--color-gray);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-gray-light);
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  padding: 0.7rem 1.2rem;

  &:focus,
  &:hover {
    outline: var(--outline-focus);
  }
}
