/*

Main SCSS file including also global:

.container
main
footer
h2
.button

*/

:root {
  --border-radius: 0.3rem;
  --transition: 0.1s all;

  --color-white: #101418;
  --color-gray-lighter: #333;
  --color-gray-light: #444;
  --color-gray-dark: #bbb;
  --color-black: #fafafa;

  // --color-link: #59f;
  // --color-link: #39c;
  --color-link: #4ad;
  // --color-link-light: #8be; 
  // --container-box-shadow: 0 0 8rem rgba(255, 255, 255, 0.05);
  --container-box-shadow: 0 0 20rem rgba(0, 0, 0, 0.7);
  // --container-border: 1px solid var(--color-white);
  --container-border: 1px solid var(--color-gray-light);

  --outline-focus: solid 0.15rem var(--color-link);
  --border-hover: solid 0.15rem var(--color-link);
  --shadow-hover: inset 0 0 0.4rem var(--color-link);

  @media (pointer: coarse) {
    // no focus outline on mobile devices
    --outline-focus: none;
    --border-hover: none;
    --shadow-hover: none;
  }
}

/* reset */
* {
  margin: 0;
  padding: 0;
  appearance: none;
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);

  background-color: var(--color-white);
  @media (pointer: fine) {
    // container card styling only on desktop (not mobile)
    background-color: var(--color-gray-lighter);
  }

  min-height: 80vh; // fallback for older browsers
  min-height: 100dvh;

  /* font */
  font-family: sans-serif;
  color: var(--color-black);
  letter-spacing: 0.02rem;
}

.container {
  position: relative;

  // height: 80vh; // fallback for older browsers
  height: 100dvh;
  width: 100vw;

  display: flex;
  flex-direction: column;

  @media (pointer: fine) {
    max-height: 40rem;
    max-width: 30rem;

    // container card styling only on desktop (not mobile)
    background-color: var(--color-white);
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: var(--container-box-shadow);

    border: var(--container-border);
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  overflow: auto;
}

footer {
  flex: 0;
  padding: 1.5rem 1rem;
  background-color: var(--color-gray-light);
  border-top: 1px solid var(--color-gray-dark);
}

h2 {
  font-weight: normal;
  font-size: 1.2rem;
  padding-bottom: 0.1rem;
  color: var(--color-gray-dark);
  border-bottom: 1px solid currentColor;
  margin-bottom: 2.2rem;

  // for the text
  display: flex;
  justify-content: end;
}

.button {
  background-color: var(--color-gray-light);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-gray-dark);
  color: inherit;
  font-family: inherit;
  cursor: pointer;

  padding: 0.7rem 1.2rem; // default padding

  &:focus {
    outline: var(--outline-focus);
  }

  &:hover {
    box-shadow: var(--shadow-hover);
  }
}
