:root {
  --border-radius: 0.3rem;
  --transition: 0.2s all;
  --color-white: white;
  --color-gray-light: #ddd;
  --color-gray-dark: #333;
  --color-black: black;
  --github-image: url("./img/github-mark.png");
  --box-shadow-focus: inset 0 0 1rem var(--color-gray-dark);
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-white: #222;
    --color-gray-light: #444;
    --color-gray-dark: #bbb;
    --color-black: #fafafa;
    --github-image: url("./img/github-mark-white.png");
  }
}

/* reset */
* {
  margin: 0;
  padding: 0;
  appearance: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
@media (min-width: 40em) {
  html {
    font-size: 110%;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  /* fallback for older browsers without dynamic viewport height */
  min-height: 80vh;
  min-height: 100dvh;
  /* font */
  font-family: sans-serif;
  color: var(--color-black);
}

.container {
  position: relative;
}

.section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section:not(:first-child) {
  padding-top: 0;
}

.range {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.range > h3 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}
.range__selectors {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.range__selectors > select {
  min-width: 3rem;
  padding: 0.4rem 1.1rem;
  border-radius: var(--border-radius);
  background-color: var(--color-gray-light);
  color: var(--color-black);
  font-size: 0.9rem;
  border-color: var(--color-gray-dark);
  font-family: inherit;
  cursor: pointer;
  transition: var(--transition);
}
.range__selectors > select:focus, .range__selectors > select:hover {
  outline: none;
}
@media (pointer: fine) {
  .range__selectors > select:focus, .range__selectors > select:hover {
    box-shadow: var(--box-shadow-focus);
  }
}
.range:not(:first-child) {
  margin-top: 1.2rem;
}

.volume {
  border-radius: var(--border-radius);
  height: 2.1rem;
  width: 2.1rem;
  padding: 0.2rem;
  cursor: pointer;
}
.volume:focus, .volume:hover {
  outline: none;
}

.chord {
  display: flex;
  align-items: start;
  font-family: Arial;
  font-size: 1rem;
}
.chord__base {
  font-size: 3em;
}
.chord__flat {
  margin-left: -0.3em;
  margin-right: -0.2em;
  font-size: 2.3em;
}
.chord__sharp {
  font-size: 2.5em;
  margin-right: 0.05em;
  transform: translateY(0.07em);
}
.chord__minor {
  font-size: 2.2em;
  transform: translateY(0.33em);
}
.chord__dim {
  font-size: 1.7em;
  margin-right: 0.1em;
  transform: translateY(-0.2em);
}
.chord__seventh {
  font-size: 1.5em;
  margin-right: 0.05em;
}
.chord__sixnine {
  display: flex;
  align-items: center;
  font-size: 2.4em;
  font-weight: lighter;
  transform: translateY(0.1em);
}
.chord__sixnine::before {
  content: "6";
  font-size: 0.7em;
  transform: translateY(-0.35em);
  margin-right: -0.1em;
}
.chord__sixnine::after {
  content: "9";
  font-size: 0.7em;
  transform: translateY(0.35em);
  margin-left: -0.1em;
}
.chord__brackets {
  display: flex;
  align-items: end;
}
.chord__brackets--double {
  transform: translateY(-0.4rem);
}
.chord__brackets .flat {
  margin-right: -0.2em;
  margin-left: -0.15em;
  margin-top: -1em;
  font-size: 0.8em;
}
.chord__brackets .sharp {
  font-size: 0.9em;
}
.chord__inside-brackets {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}
.chord__inside-brackets__small {
  font-size: 1.2em;
}
.chord__alt {
  align-self: end;
  transform: translateY(-0.25em);
  font-size: 1.5em;
  margin-left: -0.15em;
}

.buttons {
  width: 100%;
}
.buttons button {
  width: 100%;
  padding: 0.3rem;
  border-radius: var(--border-radius);
  border-width: 1px;
  border-color: var(--color-gray-dark);
  font-size: 1rem;
  font-family: inherit;
  background-color: var(--color-gray-light);
  color: var(--color-black);
  cursor: pointer;
  transition: var(--transition);
}
.buttons button:focus, .buttons button:hover {
  outline: none;
}
@media (pointer: fine) {
  .buttons button:focus, .buttons button:hover {
    box-shadow: var(--box-shadow-focus);
  }
}
.buttons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.buttons div :not(:first-child) {
  width: calc(100% - 5rem);
  margin-top: 1.4rem;
}
.buttons .next {
  padding: 3rem;
}

.github {
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
  width: 2rem;
  height: 2rem;
  background-image: var(--github-image);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  transition: var(--transition);
  background-color: var(--color-white);
  border-radius: 50%;
}
.github:focus, .github:hover {
  outline: none;
}
@media (pointer: fine) {
  .github:focus, .github:hover {
    filter: contrast(50%);
  }
}

.lightdark {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  width: 2rem;
  height: 2rem;
  transition: var(--transition);
}
.lightdark:focus, .lightdark:hover {
  outline: none;
}
@media (pointer: fine) {
  .lightdark:focus, .lightdark:hover {
    filter: contrast(50%);
  }
}
