/* colors, variables, etc */
:root {
}

/* reset */
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* font-size: 50%; */
}

body {
  background-color: #eee;
  /* color: darkolivegreen; */

  /* fallback for older browsers */
  min-height: 100vh;
  /* dynamic viewport height, considering mobile search bars etc */
  min-height: 100dvh;

  /* font */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  background-color: white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.section {
  padding: 1rem;
  &:not(:last-child) {
    border-bottom: 1px solid black;
  }
}
