$size: 2.2rem;

.icon {
  align-self: center;
  justify-self: center;
  border-radius: var(--border-radius);
  height: $size;
  width: $size;
  cursor: pointer;

  &:focus,
  &:hover {
    outline: var(--outline-focus);
  }
}
