.range {
  display: flex;
  flex-direction: column;
  align-items: start;

  &__selector {
    display: flex;
    align-items: center;
    gap: 1rem;

    & > select {
      min-width: 4rem;
      padding: 0.7rem 1rem;
      border-radius: var(--border-radius);
      background-color: var(--color-gray-light);
      color: var(--color-black);
      font-size: 1rem;
      border-color: var(--color-gray-dark);
      font-family: inherit;
      cursor: pointer;
      transition: var(--transition);

      &:focus,
      &:hover {
        outline: var(--color-focus-outline);
      }
    }
  }
}
