.range {
  // margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h3 {
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
  }

  &__selector {
    display: flex;
    align-items: center;
    gap: 1rem;

    & > select {
      min-width: 3rem;
      padding: 0.4rem 1.1rem;
      border-radius: var(--border-radius);
      background-color: var(--color-gray-light);
      color: var(--color-black);
      font-size: 0.9rem;
      border-color: var(--color-gray-dark);
      font-family: inherit;
      cursor: pointer;
      transition: var(--transition);

      &:focus,
      &:hover {
        outline: var(--color-focus-outline);
      }
    }
  }

  &:not(:first-child) {
    margin-top: 1.2rem;
  }
}
