.chords {
  margin: auto 0;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .now,
  .next {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .next {
    width: 90%;
    color: var(--color-gray-light);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .lock {
      color: var(--color-white);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      padding: 0.5rem;

      &:active {
        color: var(--color-gray-light);
      }
    }
  }
}
