.controls {
  display: grid;
  gap: var(--gap-small);

  @media (pointer: fine) or (orientation: portrait) {
    // min-height: 8rem;
    grid-template-columns: repeat(2, 1fr);
    & > div {
      &:last-child {
        grid-row: 1 / 2;
        grid-column: 2;
      }
    }
  }

  @media (pointer: coarse) and (orientation: landscape) {
    margin-bottom: auto;
    width: 8rem;
    gap: var(--gap-medium);
    margin-left: 4vw;
  }
}
