.chords {
  margin: auto 0;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .now {
    // background-color: red;
  }

  .next {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    filter: contrast(.6);
    // background-color: green;

    p {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
    }
    span {
      margin-left: 0.3rem;
      font-size: 1.3rem;
    }
  }

  .extensionLock {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    & > div {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:nth-child(2) {
        width: 15.8rem;

        & > div {
          display: flex;

          & > svg {
            padding: 0.4rem;
            width: 1.9rem;
          }

          cursor: pointer;
          // same as .button
          border-radius: var(--border-radius);
          &:focus,
          &:hover {
            outline: var(--outline-focus);
          }

          &:active {
            color: var(--color-gray-light);
          }
        }
      }
    }
  }
}
